
<div class="grid--item clock--widget size--{{ item.size }} module--id-{{ item.moduleId }}" data-interval="1" data-url="{{ item.data.dataUrl }}">
    <div class="current-time">
        <span data-time>{{ item.data.time }}</span>
    </div>
    <div class="current-date">
        <span data-date>{{ item.data.date }}</span>
    </div>
</div>