{% extends "base.twig" %}

{% block title %}Smart{% endblock %}

{% block bodyClass %}is-ctl-{{ controller }} is-act-{{ action }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ context.assetsUrl }}/less/app.css" rel="stylesheet">
{% endblock %}

{% block container %}

    <h1>Welcome</h1>
    <img width="200" height="200" src="{{ context.assetsUrl }}/img/logo.png">

{% endblock %}